.header {
    background-color: powderblue;
	padding: 25px;
}

/* Header Styling */
header {
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  
  position: fixed;
  
  color: black;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
}
  
.top-section {
	display: block;
}

.bottom-section {
	display: block;
	top:50%;
}

.left-section {
  display: flex;
  align-items: center;
}
  
.bomb-logo {
  height: 100px;
}
 
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 150px;
  display: flex;
  align-items: center;
}
  
  
.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
  