/* Light Theme */
body.light {
    background-color: white;
    color: black;
}

header.light {
    background-color: white;
    color: black;
}

.theme-dependent.light {
    background-color: white;
    color: black;
}

/* Dark Theme */
body.dark {
    background-color: black;
    color: white;
}

header.dark {
    background-color: black;
    color: white;
}

.theme-dependent.dark {
    background-color: black;
    color: white;
}
