{% extends "logo.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bombastic Bookstore Inventory Management Tool</title>
</head>
{% block content %}

<body class="{% if request.COOKIES.theme %}{{ request.COOKIES.theme }}{% else %}light{% endif %}">
    <main>
        <h2 align="top"> Today's Inventory Snapshot: </h1>

            <ul>
                {% for i in object_list %}
                <li>{{ i.measure }} &nbsp;&nbsp;&nbsp; {{ i.id__count }}</li>
                <hr />
                {% endfor %}

           </ul>
    </main>

    {% endblock %}
</body>
</html>