{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bombastic Bookstore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/theme.css' %}" id="theme-link">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <script src="{% static 'js/nav.js' %}" defer></script>
    <style>
        body {
            background-image: linear-gradient(rgba(252, 252, 252, 0.929), rgba(241, 241, 208, 0.685)),
            url("{% static './books.png' %}");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="{% if request.COOKIES.theme %}{{ request.COOKIES.theme }}{% else %}light{% endif %}">
    <header class="theme-dependent">
        <div class="left-section theme-dependent">
            <a href="{% url 'index' %}">
                <img class="bomb-logo" src='{% static "./bomb_no_text.png" %}' alt="Bombastic Bookstore Logo">
            </a>
        </div>
        <div class="middle-section theme-dependent">
            <img class="title" src='{% static "./title.png" %}' alt="Title">
        </div>
        <div class="right-section theme-dependent">
            <p>Welcome, {{ user.username }}!</p>
        </div>
    </header>

    <nav class="nav-bar theme-dependent" id="nav-bar">
        <ul>
            <li><a href="{% url 'add_book' %}">
                <img class="add_item_btn" src='{% static "./add_item_btn.png" %}' alt="Add Item Button" style="height: 75px;">
            </a></li>
            <li><a href="{% url 'search' %}">
                <img class="search_item_btn" src='{% static "./search_item_btn.png" %}' alt="Search Item Button" style="height: 75px;">
            </a></li>
            <li><a href="{% url 'bootstrap' %}">
                <img class="view_item_btn" src='{% static "./view_item_btn.png" %}' alt="View Item Button" style="height: 75px;">
            </a></li>
            <li><a href="{% url 'report' %}">
                <img class="user_report_btn" src='{% static "./user_report_btn.png" %}' alt="User Report Button" style="height: 75px;">
            </a></li>
            <li><a href="{% url 'settings' %}">
                <img class="settings_btn" src='{% static "./settings_btn.png" %}' alt="Settings Button" style="height: 75px;">
            </a></li>
            <li><a href="{% url 'logout' %}">
                <img class="sign_out_btn" src='{% static "./sign_out_btn.png" %}' alt="Sign Out Button" style="height: 75px;">
            </a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="theme-dependent">
        <div class="footer-section left-footer">
            <p>&copy; 2024 Bombastic Bookstore</p>
        </div>
        <div class="footer-section right-footer">
            <ul style="justify-content: center;">
                <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
