{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bombastic Bookstore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/theme.css' %}" id="theme-link">
    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <script src="{% static 'js/nav.js' %}" defer></script>
    <style>
        body {
            background-image: linear-gradient(rgba(252, 252, 252, 0.929), rgba(241, 241, 208, 0.685)),
            url("{% static './books.png' %}");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="{% if request.COOKIES.theme %}{{ request.COOKIES.theme }}{% else %}light{% endif %}">
    <header class="theme-dependent">
        <div class="left-section theme-dependent">
            <a href="{% url 'index' %}">
                <img class="bomb-logo" src='{% static "./bomb_no_text.png" %}' alt="Bombastic Bookstore Logo">
            </a>
        </div>
        <div class="middle-section theme-dependent">
            <a href="{% url 'index' %}">
                <img src="{% static '/title.png' %}" alt="Bombastic Bookstore" style="display: inline" height="110">
            </a>
        </div>
        <div class="right-section theme-dependent">
            <p>Welcome, {{ user.username }}!</p>
        </div>
    </header>

    <nav class="nav-bar theme-dependent" id="nav-bar">
        <ul>
            <li><a href="{% url 'add_book' %}"><img src="{% static '/add_item_btn.png' %}" alt="Add Item" height="75"></a></li>
            <li><a href="/search/"><img src="{% static '/search_item_btn.png' %}" alt="Update Quantities / Search Items" height="75"></a></li>
            <li><a href="/view_all/"><img src="{% static '/view_item_btn.png' %}" alt="View All Items" height="75"></a></li>
            <li><a href="/report/"><img src="{% static '/user_report_btn.png' %}" alt="User Report" height="75"></a></li>
            <li><a href="/settings/"><img src="{% static '/settings_btn.png' %}" alt="Settings" height="75"></a></li>
            <li><a href="{% url 'logout' %}"><img src="{% static '/sign_out_btn.png' %}" alt="Sign Out" height="75"></a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="theme-dependent">
        <div class="footer-section left-footer">
            <p>&copy; 2024 Bombastic Bookstore</p>
        </div>
        <div class="footer-section right-footer">
            <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
