{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Bombastic Bookstore Login Page</title>
	<link rel="stylesheet" href="{% static 'styles/general.css' %}">
	<link rel="stylesheet" href="{% static 'styles/theme.css' %}">
	<script src="{% static 'js/theme.js' %}" defer></script>
</head>
<body>
	<main>
	<div class="card">
		<h1 class="title">Search Page</h1>
		<div class="search">
			<form action="{% url 'search_results' %}" method="get" style="width: 100%;">
				{{ form }}
			</form>
		</div>
	</div> <!-- Container -->
	<p><a href="{% url 'index' %}">Back to Main Menu</a></p>
	</main>
</body>
</html>
