{% extends "logo.html" %}

{% load static %}

<!DOCTYPE html>

<html>
<head>
    <title>Bombastic Bookstore Login Page</title>
</head>

<body class="{% if request.COOKIES.theme %}{{ request.COOKIES.theme }}{% else %}light{% endif %}">
	{% block content %}
	<main>
	<div class="container">
		<h1 class="title">Search Page</h1>
		<div class="search">
			<form action="{% url 'search_results' %}" method="get" style="width: 100%;">
				{{ form }}
			</form>
		</div>
	</div> <!-- Container -->
	</main>
	{% endblock %}
</body>
</html>

