body {
    margin: 0;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

.header {
    height: 55px;
    
    text-align: center;
    
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
}
