footer {
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
  
    position: fixed;
  
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    text-align: center; 
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
  }
  
  .footer-section {
    display: flex;
    align-items: center;
  }
  

  .middle-footer,
  .right-footer {
    flex: 1;
  }
  
  .middle-footer {
    text-align: center;
  }
  
  .left-footer {
    flex: 1;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .right-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .right-footer ul li {
    display: inline;
  }
  
  .right-footer ul li a {
    text-decoration: underline;
    color: rgb(151, 151, 255);
  }
  
  .right-footer ul li a:visited {
    color: rgb(250, 95, 250);
  }
  
  .right-footer ul li a:hover {
    color: rgb(136, 136, 255);
  }
  