{% extends "logo.html" %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>User Settings</title>
</head>
{% block content %}
<body>
<main>
	<div class="container">
		<h1 class="title">User Settings</h1>    
		<div class="theme-dependent">    
			<form method="post">
				{{ form.as_p }}
				{% csrf_token %}
				<!-- <label for="theme-select">Theme:</label>
				<select id="theme-select" name="theme">
					<option value="light">Light</option>
					<option value="dark">Dark</option>
				</select>
				<button type="submit">Save changes</button> -->
			</form>
		</div>
	</div>
</main>
<footer>
    <p>&copy; 2024 Bombastic Bookstore Inventory Management Tool. All rights reserved.</p>
</footer>
{% endblock %}
</body>
</html>
