
<!DOCTYPE html>
<html>
<head>
    
    <title>Bombastic Bookstore Login Page</title>
    <link rel="stylesheet" type="text/css" href="styles/general.css">
</head>
<body>
 <div class="header">   
    <h1>Welcome to Bombastic Bookstore</h1><br>
<div>
    <h2>Log In</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Log In">
    </form><br>

    <h2>Sign Up</h2>

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>